.food-label,
.exercise-label {
  display: block;
}

.red-text {
  color: red !important;
}

.green-text {
  color: green;
}

.food-input,
.food-input-container,
.exercise-input,
.exercise-input-container {
  width: 300px;
}

.food-input-container {
}

tfoot tr td {
  background-color: #E6E6E6;
  border-radius: 0px;
}

.outer {
  width: 100%;
  text-align: center;
}

.inner {
  display: inline-block;
  margin: 5%;
}

.meal-buttons {
  margin: 3.5%;
  height: 70px !important;
  width: 70px !important;
}

#add-selected-exercise{
  margin-left: 50%;
  margin-right: 50%;
}
