.food-label,
.exercise-label {
  display: block;
}

#food-table, #exercise-table {
  border: 1px solid;
}

.red-text {
  color: red !important;
}

.green-text {
  color: green;
}

.food-table-header,
.exercise-table-header {
  background-color: #d3d3d3;
}

.food-input,
.food-input-container,
.exercise-input,
.exercise-input-container {
  width: 300px;
}

.food-input-container {
}

tfoot tr td, thead tr th{
  background-color: #BDBDBD;
  border-radius: 0px;
}
